venv/
.env/
.venv/

# Ignore macOS system files
.DS_Store

.venv/

# Ignore Python cache directories
__pycache__/
*.py[cod]
*$py.class
*.pyc

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

preloaded_model/
seeder/

